
.report-table, th, td {
  border-collapse: collapse;
  border-color: #666;
  padding: 5px;
}

.report-table tr:nth-child(even) {
  background-color: #eee;
}
.report-table tr:nth-child(odd) {
  background-color: #fff;
}
.report-table th {
  color: white;
  background-color: skyblue;
}