
.report-table {
  border-collapse: collapse;
  margin: 1px;
  padding: 1px;
  width: 100%;
}

.report-table tr:nth-child(odd) {
  background-color: #eee;
}
.report-table tr:nth-child(even) {
  background-color: #fff;
}
.report-table th {
  color: white;
  background-color: seagreen;
  text-align: left;
  border: 1px solid #ccc;
}

.report-table td {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  border: 1px solid #ccc;
}

.report-table img{
  display:block;
  width:100%;
  height:auto;
}
.report-table tr:hover {
  background-color: #fcfcfc;
}

.report-child-table {
  border-collapse: collapse;
  margin: 1px;
  padding: 1px;
  vertical-align: inherit;
  text-align: left;
  width: 100%;
}

.report-child-table th {
  color: white;
  background-color: skyblue;
  text-align: left;
  border: 1px solid #ccc;
}